
.container{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    gap: 20px;
}

.hero{
    height: min(600px, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & > img {
        max-width: 100%;
        object-fit: cover;
        height: 100%;
    }
}